:root {
    --accent-white: #fff;
    --accent-black: #000;
    --accent-white-transparent: rgba(255, 255, 255, 0.808);
    --accent-bluedark: #1F2945;
    --accent-gold: #DDC8A2;
    --accent-gold-10: #DDC7A2;
    --accent-gray: #BDBDBD;
    --accent-gray-10: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    --accent-gray-20: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}